[user]
	name = Shota Kashihara
	email = shota.kashihara@paypay-corp.co.jp
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	conflictStyle = diff3
	ff = false
[pull]
	ff = only
[http]
	postBuffer = 524288000
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[ghq]
	root = ~/git
[alias]
	acp = !git add -A && git commit -m 'update' && git push
[core]
	excludesfile = /Users/shota.kashihara/.gitignore_global
	editor = code --wait
[url "https://github.com/"]
	insteadOf = git@github.com:
[url "https://"]
	insteadOf = git://
[commit]
	template = ~/.stCommitMsg
